#ContactForm {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Space Grotesk', Times, serif;
}

#ContactForm ul {
    list-style: none;
}

#ContactForm .contact-box {
    margin-bottom: 24px;
    .radio_input{
        margin-right: 16px;
    }
}



#ContactForm {
    .zf-tempContDiv{
        margin-bottom: 8px;
    }
    .zf-labelName{
        font-size: 14px;
        margin-bottom: 4px;
        display: block;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-sizing: border-box;
        min-height: 54px;
        /* Include padding and border in the element's total width and height */
    }

    textarea {
        min-height: 150px;
    }

    /* Radio Button Styles */
    input[type="radio"] {
        margin-right: 5px;
    }

    /* Submit Button Styles */
    input[type="submit"] {
        background-color: #4CAF50;
        /* Green */
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Hover Effect for Button */
    input[type="submit"]:hover {
        background-color: #45a049;
        /* Darker green */
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #79BF46;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
    width: auto;
    border-radius: 12px;
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0 24px;
    &--primary{
        background-color: #355354;
        color: white;
    }
    &--secondary {
        background-color: #79bf46;
        color: #000000;
    }
    &--form{
        margin-top: 24px;
        width: 100%;
    }
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.zf-errorMessage{
    color: red;
    font-size: 14px;
    margin-top: -4px;
}
.subscribe_block{
    .input-controller{
        height: 58px;
        border-radius: 12px;
        background-color: transparent;
        border: 1px solid #ccc;
        padding: 8px;
        color: #fff;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .subscribe_block{
        .input-controller{
            max-width: 280px;
            min-width: 280px;
            margin-bottom: 0;
            margin-right: 16px;
        }
    }
    
}