.service_card_brief_description{
    max-width: 1440px;
    width: auto;
    height: auto;
    margin: 30px 100px 20px 100px;
    padding: 30px;
}

h3{
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}
p{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
b{
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}